{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content %}

<div class='container bg-info lead text-left text-justify'>

<p> <div class= "bg-primary text-center"> About ETHIX </p> </div>

<p> Our mission is to help your physican maintain your dignity, autonomy and informed consent by determining your capacity today of making big health-related decisions. </p>


<p>
You will be asked to watch a short video of a patient/physician interaction and will be prompted to answer 8 questions right before you speak to your doctor. Please ask your healthcare provider to explain any questions you get wrong. Your score will help your doctor determine what sorts of decisions they will be asking you to make today and whether they should involve your substitute decision maker in those decisions. </p>

{% endblock %}
